/* body {
    background-color: #fcf8f1;
} */

.col-style {
    display: flex;
    flex-direction: column;
    justify-content: center; /*vertical*/
    align-items: left; /*horizontal*/
    text-align: left;
}

.typed-text {
    font-size: 32px;
    
}

/* #hero-txt {
    margin-left: 0.5em;
} */

/* .sm-icons {
    margin-left: 1em;
} */

.sm-btn {
    width: 3.75em; 
    height: 3.125em; 
    background-color: #fcf8f1;
    /* border-color: black; */
    z-index: 2;
    border: 0.1px solid #000;
    box-shadow: 6px 6px #ebadb1, 6px 6px 0px 0.75px black;

}

.btn-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

@media screen and (max-width: 800px) {
    .btn-display{
      flex-direction: column;
    }
    .sm-btn {
        margin-bottom: 5px;
    }

  }



/*
.col-style .sm-icons .sm-btn{
    flex-direction: row;
    justify-content: center; /*vertical*/
    /*align-items: right; /*horizontal */
/*}*/


.sm-icons {
    display: flex;

    height: 50px;
    width: 50px;
    /* margin: 10px; */
    position:static;
  }



  